/* Application-wide Styles */
$color_blue: #369;
$color_dark_grey: #444;
$color_light_grey: #888;

h1 {
  color: $color_blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: $color_dark_grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: $color_light_grey;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
